/*
    IMD3901B Design Studio 3 Winter 2022
    Term Project - The Sacred Meeting Place
    Triple Peanuts - Angelina Belingan, Jacqueline Lee, Violet Nguyen
*/

#text-window {
    position: fixed;
    display: block;
    width: 40%;
    height: 60%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: aliceblue;
    z-index: 999999;
    cursor: pointer;
}